<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kovapss.gitmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.launch.LaunchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/ActivityDialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".view.main.MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".view.search.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".view.gists.create.CreateGistActivity" />
        <activity
            android:name=".view.gists.create.CreateFileActivity"
            android:theme="@style/ActivityDialog" />
        <activity android:name=".view.profile.UserProfileActivity" />
        <activity android:name=".view.repositories.detail.RepositoryDetailActivity" />
        <activity android:name=".view.gists.detail.GistDetailActivity" />
        <activity android:name=".view.repositories.detail.files.viewer.FileViewerActivity" />
        <activity android:name=".view.repositories.detail.issues.detail.IssueDetailActivity" />
        <activity android:name=".view.settings.SettingsActivity" />
        <activity android:name=".view.repositories.create.CreateRepositoryActivity" />
        <activity android:name=".view.repositories.detail.files.createfile.CreateFileActivity" />
        <activity android:name=".view.repositories.detail.files.edit.FileEditActivity" />
        <activity android:name=".view.repositories.detail.collaborators.CollaboratorsActivity"></activity>
    </application>

</manifest>